body {
	margin: 0;
	background-color: #171717;
	color: white;
	width: 360px;
	height: 600px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

#scroller {
	overflow-x: hidden;
	overflow-y: auto;
	flex-grow: 1;
	padding: 1em 0 0.5em;
}

.buttonContainer {display: flex;}
.buttonContainer button:first-child {flex-grow: 1;}

.buttonContainer button:last-child, header button {
	flex-shrink: 0;
	padding: 0.75em 1em;
}

header {
	flex-grow: 0;
	flex-shrink: 0;
	display: flex;
}

#list {padding: 0 0.5em;}

#list > div:not(#noAsides), dialog {
	box-shadow: 0 0 0.5em black;
	background-color: #1f1f1f;
}

#list > div:not(#noAsides) {margin: 1em;}

h1 {
	font-size: 1.1em;
	font-weight: bold;
	margin: 0;
	cursor: default;
	flex-grow: 1;
}

.entryTitle {
	font-size: 1.1em;
	margin-right: 0.5em;
}

.entryButton svg {margin-right: 0.55em;}
.entryTime {color: gray;}

.expandButton {
	text-align: center;
	width: 100%;
}

.pageList {display: none;}
div.expanded .pageList {display: block;}

.pageList img {
	width: 20px;
	height: 20px;
	vertical-align: -5px;
	margin-right: 1em;
}

#list > div.expanded .expandButton::after {
	content: "Hide pages";
}

#list > div:not(.expanded) .expandButton::after {
	content: "Show pages";
}

button, h1, #noAsides {
	padding: 0.75em 2em;
	white-space: nowrap;
}

#noAsides {
	color: gray;
	text-align: center;
	cursor: default;
}

button {
	overflow: hidden;
	border-style: none;
	outline: none;
	border-radius: 0;
	background-color: inherit;
	color: inherit;
	text-align: left;
	font-family: inherit;
	font-size: inherit;
	text-overflow: ellipsis;
}

button:not([disabled]) {cursor: pointer;}
button[disabled] {color: gray;}

button:not(.linklike):not([disabled]):hover {background-color: #373737}
button:not(.linklike):not([disabled]):active {background-color: #272727}

button:focus-visible {outline: 2px solid gray;}

hr {
	margin: 0;
	border-style: solid;
	border-width: 1px 0 0 0;
	border-color: gray;
}

button.linklike {
	color: dodgerblue;
	text-decoration: none;
}

button.linklike:hover {text-decoration: underline;}

#addButtons button {width: 100%;}
#addButtons button svg {margin-right: 0.75em;}
#addButtons {margin-bottom: 1.5em;}

dialog {
	position: fixed;
	left: unset;
	margin: 0;
	padding: 0;
	color: inherit;
	border-style: none;
}

dialog button {
	display: block;
	width: 100%;
}

dialog button svg {margin-right: 0.75em;}

@media (prefers-color-scheme: light) {
	body {
		background-color: white;
		color: black;
	}
	
	button:not(.linklike):not([disabled]):hover {background-color: #dfdfdf}
	button:not(.linklike):not([disabled]):active {background-color: #efefef}
	
	#list > div:not(#noAsides), dialog {background-color: #f8f8f8;}
}